{% extends 'drive/bootstrap.html' %}

{% load url from future %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ScreenLock</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li{% if home %} class="active" {% endif %}><a href="{% url 'home' %}">Home</a></li>
                    <li{% if household %} class="active" {% endif %}><a href="{% url 'drive:household' %}">Household</a></li>
                </ul>
                {% if user and user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><p class="navbar-text">{{ screen_lock_user.nickname }}</p></li>
                        <li><a href="{% url 'drive:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li{% if register %} class="active"{% endif %}><a href="{% url 'drive:register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li{% if login %} class="active"{% endif %}><a href="{% url 'drive:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        {% bootstrap_messages %}

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}